name: CI - Node.js

on:
  push:
    braches: ["main"]
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - name: Checkou code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Run test
        run: npm test
